footer{
    background-color: #212F3D;
        
            nav{
                button{
                    font-size:18px;
                    padding:0px 20px;
                    color: #fff;
                    background-color: #5863db;
                    border:none;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    width:268px;
                        }
                    }
                }
            