header{
    background-color: #ABB2B9;
    img{
        width: 20%;
        nav {
                    
                
            }
        }
    }

.logo{
    display: flex;
    align-items: center;
}
.lista_header{
    background-color: #212F3D;
}